{% extends "homebase.html" %}
{% load static %}
{% block  title %} Sık Sorulan Sorular  {% endblock %}
{% block  keywords %}  {% endblock %}
{% block  description %} {% endblock %}
{% block  head %}
    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block  sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block  content %}
 <section>
    <div class="block">
        <div class="fixed-bg" style="background-image: url({% static '/images/topbg.jpg' %});"></div>
        <div class="restaurant-searching text-center">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="page-title-inner">
                    <h1 itemprop="headline">Sık Sorulan Sorular</h1>
                    <span>--------------------------------------------------------------</span>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="bread-crumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" title="" itemprop="url">Anasayfa / </a></li>
                <a class="breadcrumb-item active" href="faq.html">Sık Sorulan Sorular</a></li>
            </ol>
        </div>
    </div>

    <div class="bread-crumbs-wrapper">
        <div class="container">
            <div class="row">
                <div id="accordion">
                    {% for rs in faq %}
                    <h3>{{ rs.question}}</h3>
                    <div>
                        <p>
                          {{ rs.answer }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>

{% endblock %}