  {% load static %}
<footer>
            <div class="block top-padd80 bottom-padd80 dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="footer-data">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                            <div class="logo"><h1 itemprop="headline"><a href="#" title="Home" itemprop="url"><img src="{% static 'images/logo.png' %}" alt="logo.png" itemprop="image"></a></h1></div>
                                            <p itemprop="description">Söyle Getirelim Platformu olarak Tüm acıkanları dıyuruyoruz :) </p>
                                            <div class="social2">
                                                <a class="brd-rd50" href="http://www.facebook.com/x{{ setting.facebook }}" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="brd-rd50" href="http://www.google.com/x{{ setting.instagram }}"  title="İnstangram" itemprop="url" target="_blank"><i class="fa fa-instagram"></i></a>
                                                <a class="brd-rd50" href="http://www.twitter.com/{{ setting.twitter }}"  title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                            <h4 class="widget-title" itemprop="headline">BİLGİLENDİRME</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Kariyer</a></li>
                                                <li><a href="#" title="" itemprop="url">Müşteri ilişkiler</a></li>
                                                <li><a href="#" title="" itemprop="url">Basından Haberler</a></li>
                                                <li><a href="#" title="" itemprop="url">Puanlarla Alışverriş</a></li>
                                                <li><a href="/sss " title="" itemprop="url">Sık Sorulan Sorular</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                            <h4 class="widget-title" itemprop="headline">MÜŞTERİ HİZMETLERİ</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">İadeler</a></li>
                                                <li><a href="#" title="" itemprop="url">Kargo Bilgisi</a></li>
                                                <li><a href="#" title="" itemprop="url">Hediye Kartları</a></li>
                                                <li><a href="#" title="" itemprop="url">Menü Bilgileri</a></li>
                                                <li><a href="#" title="" itemprop="url">Para iadeleri</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                            <h4 class="widget-title" itemprop="headline">İLETİŞİMDE KAL</h4>
                                            <ul>
                                               <li><i class="fa fa-map-marker"></i> Zenginler Cad. Garibanlar Sok. NO:-1 Kat: Bodrum </li>
                                               <li><i class="fa fa-phone"></i> (0312) 499 99 89 </li>
                                               <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">hello@soylegetirelim.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Footer Data -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>