{% load static %}

<header class="stick">
    <div class="topbar">
        <div class="container">
            <div class="select-wrp">
                <select data-placeholder="Feel Like Eating">
                    <option>NE VEREYİM ABİME :)</option>
                    <option>Hamburger</option>
                    <option>Pizza</option>
                    <option>Kızartmalar</option>
                    <option>Tavuk Menüleri</option>
                </select>
            </div>
            <div class="select-wrp">
                <select data-placeholder="Choose Location">
                    <option>MEKAN SEÇ</option>
                    <option>Karabük</option>
                    <option>Ankara</option>
                    <option>İstanbul</option>
                    <option>İzmir</option>
                </select>
            </div>

            {% if user.id is None %}
                <div class="topbar-register">

                    <a class="button" href="/login/" title="Giriş Yap" itemprop="url">GİRİŞ YAP</a> /
                    <a class="button" href="/signup/" title="Kayıt Ol" itemprop="url">KAYIT OL</a>
                </div>
                <
            {% else %}

                <div class="topbar-register">
                    <img src="{{ request.session.userimage }}" style="">
                    <span class="qty">{{ request.session.cart_items }}</span>
                    <a href="/shopcart/"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>


                    <a href="/user/"> <strong a href="/user/" class="text-uppercase">      {{ user.first_name }}<i
                            class="fa fa-caret-down"></i></strong></a>
                    </strong>
                    <a href="/logout/"><i class="fa fa-unlock-alt"></i>Çıkış Yap </a>
                </div>
            {% endif %}

            <div class="social1">
                <a href="http://www.facebook.com/x{{ setting.facebook }}" title="Facebook" itemprop={{ setting.facebook }} target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="http://www.instagram.com/{{ setting.instagram }}" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="http://www.twitter.com/{{ setting.twitter }}" title="Instagram" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div><!-- Topbar -->
    <div class="logo-menu-sec">
        <div class="container">
            <div class="logo"><h1 itemprop="headline"><a href="/" title="Home" itemprop="url"><img
                    src="{% static 'images/logo2.png' %}" alt="logo.png" itemprop="image"></a></h1></div>
            <nav>
                <div class="menu-sec">
                    <ul>
                        <li class="menu-item-has-children"><a href="/" title="HOMEPAGES" itemprop="url"><span
                                class="red-clr">Söyle Getirelim</span>Anasayfa</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="RESTAURANTS" itemprop="url">
                                <span class="red-clr">Söyle Getirelim</span>Restoranlar</a>



                            <ul class="sub-dropdown">
                            {% load mptt_tags %}
                                    {% recursetree restaurant1 %}
                                        <li>
                                            <a href="/restaurant/{{ node.id }}"
                                                itemprop="url">{{ node.title }}</a>
                                        </li>
                                    {% endrecursetree %}
                            </ul>
                        </li>


                        <!-- menüler menüsü başı -->
                        <li class="menu-item-has-children"><a href="/" title="PAGES" itemprop="url"><span
                                class="red-clr">Söyle Getirelim</span>Menüler</a>
                            <ul class="sub-dropdown">
                                {% load mptt_tags %}
                                {% recursetree category %}
                                    <li {% if not node.is_leaf_node %} class="menu-item-has-children" {% endif %}><a
                                            href="/category/{{ node.id }}/{{ node.slug }}"
                                            itemprop="url">{{ node.title }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="sub-dropdown">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}



                            </ul>
                        </li>
                        <!-- menüler menüsü sonu -->

                        <li><a href="/referanslar" title="Referanslar Sayfası" itemprop="url"><span class="red-clr">Söyle Getirelim</span>Referanslar</a>
                        </li>
                        <li><a href="/hakkimizda" title="Hakkımızda Sayfası" itemprop="url"><span class="red-clr">Söyle Getirelim</span>Hakkımızda</a>
                        </li>
                        <li><a href="/iletisim" title="İletişim Sayfası" itemprop="url"><span class="red-clr">Söyle Getirelim</span>İletişim</a>
                        </li>
                    </ul>
                    <!-- <a class="red-bg brd-rd4" href="register-reservation.html" title="Register" itemprop="url">REGISTER RESTAURANT</a> -->
                </div>
            </nav><!-- Navigation -->
        </div>
    </div><!-- Logo Menu Section -->
</header><!-- Header -->

<div class="responsive-header">
    <div class="responsive-topbar">
        <div class="select-wrp">
            <select data-placeholder="Feel Like Eating">
                <option>FEEL LIKE EATING</option>
                <option>Burger</option>
                <option>Pizza</option>
                <option>Fried Rice</option>
                <option>Chicken Shots</option>
            </select>
        </div>
        <div class="select-wrp">
            <select data-placeholder="Choose Location">
                <option>CHOOSE LOCATION</option>
                <option>New york</option>
                <option>Washington</option>
                <option>Chicago</option>
                <option>Los Angeles</option>
            </select>
        </div>
    </div><!-- BURADAN ALDIM -->
</div><!-- Responsive Header -->


</main><!-- Main Wrapper -->