{% extends "homebase.html" %}
{% load static %}
{% block  title %} {{ profile.user_name }} Profili {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %}{{ setting.description }} {% endblock %}
{% block  head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block  sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block  content %}
    <section>
        <div class="block">
            <div class="fixed-bg" style="background-image: url({% static '/images/topbg.jpg' %});"></div>
            <div class="restaurant-searching text-center">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="page-title-inner">
                        <h1 itemprop="headline">KULLANICI PANELİNE HOŞGELDİNİZ</h1>
                        <span>---------------------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="bread-crumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" title="" itemprop="url">Ana Sayfa</a></li>
                <li class="breadcrumb-item active">Profil</li>
            </ol>
        </div>
    </div>

    <section>
        <div class="block less-spacing gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="dashboard-tabs-wrapper">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-lg-4">
                                        <div class="profile-sidebar brd-rd5 wow fadeIn" data-wow-delay="0.2s">
                                            {% include "user_panel.html" %}
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-lg-8">
                                        <div class="tab-content">

                                        {% if messages %}
                                            {% for message in messages %}
                                                <div style="color: #d43f3a; font-size: medium ">
                                                {{ message| safe }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                            <form method="post">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <p>
                                                    {{ field.label_tag }}<br>
                                                    {{ field }}
                                                    {% if field.help.text %}
                                                        <small style="color:grey">{{ field.help.text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p style="...">{{ error }}</p>>
                                                        {% endfor %}
                                                    </p>
                                                {% endfor %}
                                            <button type="submit">Degişiklikleri Kaydet</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Section Box -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}