{% extends "homebase.html" %}
{% load static %}
{% block  title %} YORUMLARIM {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %}{{ setting.description }} {% endblock %}
{% block  head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block  sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block  content %}
    <section>
        <div class="block">
            <div class="fixed-bg" style="background-image: url({% static '/images/topbg.jpg' %});"></div>
            <div class="restaurant-searching text-center">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="page-title-inner">
                        <h1 itemprop="headline">KULLANICI PANELİNE HOŞGELDİNİZ</h1>
                        <span>---------------------------------------------------------------</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="bread-crumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" title="" itemprop="url">Ana Sayfa</a></li>
                <li class="breadcrumb-item active">Yorumlarım</li>
            </ol>
        </div>
    </div>

    <section>
        <div class="block less-spacing gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="dashboard-tabs-wrapper">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-lg-4">
                                        <div class="profile-sidebar brd-rd5 wow fadeIn" data-wow-delay="0.2s">
                                            {% include "user_panel.html" %}
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-lg-8">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>ÜRÜN</th>
                                                <th>DERECE</th>
                                                <th>KONU</th>
                                                <th>YORUM</th>
                                                <th>DURUM</th>
                                                <th>TARİH</th>
                                                <th>DETAY</th>
                                            </tr>
                                            </thead>

                                             {% for rs in comments %}
                                            <tr>

                                                <td><a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">{{ rs.product.title }}</td></a>
                                                <td>
                                                  <span style="text-transform: uppercase"> {{ rs.rate }}</span></a></td>
                                                <td><span style="text-transform: uppercase">{{ rs.subject }}</span></td>
                                                <td>{{ rs.comment }}</td>
                                                <td><span class="status text-success">&bull;</span> {{ rs.status }}</td>
                                                <td>{{ rs.create_at }}</td>
                                                <td><span style="text-transform: uppercase">
                                                    <a href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Yorumu Silmek İstedigine Emin misin?')">YORUMU SİL</a>
                                                </span>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}